@import "palette";

/* ==================================
=            Borders                =
================================== */
$base-border-radius: 				    5px;
$round-border-radius: 				  50px;
$circle-border-radius: 				  50%;
$border:                        1px solid $border-color;
