/* ==================================
=            Media Grid Map         =
================================== */
$media-xs: (
  media: 0px
);

$media-sm: (
  media: 768px
);

$media-md: (
  media: 960px
);

$media-lg: (
  media: 1280px
);

$media-xl: (
  media: 1920px
);
