.parallax {
  background-attachment: fixed !important;
}

.list-styleless {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.hidden {
  display: none;
  visibility: hidden;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
