/* =============================
=            Fonts             =
============================= */
$base-font-family:        'Raleway', sans-serif !default;
$support-font-family:     'Play', sans-serif;
$base-font-size: 			    16px !default;

$base-font-weight: 			  300 !default;
$heading-font-weight: 		600 !default;

$font-size-xs:            0.75em !default;
$font-size-sm:            0.88em !default;
$font-size-md:            1em !default;
$font-size-lg:            1.5em !default;
$font-size-xl:            2em !default;
