button,
input[type=button],
input[type=submit] {
  display: block;
  min-width: 80px;
  padding: 4px 16px;
  color: white;
  border: 0;
  border-radius: $base-border-radius;
  background-color: $secondary-color;
  font-size: $font-size-md;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s;
  outline: none;

  &:hover {
    background-color: darken($secondary-color, 20%);
  }
}

.btn {
  @extend button;

  $buttons: (
    'neutral' $secondary-color-light,
    'positive' $secondary-color-dark,
    'negative' $grey-color-light,
    'disabled' $disabled-color
  );

  &-sm {
    font-size: $font-size-sm;
    padding: 2px 8px;
  }

  &-lg {
    font-size: $font-size-lg;
    padding: 4px 24px;
  }

  @each $name, $color in $buttons {
    &-#{$name} {
      background-color: $color;
      transition: background-color 0.3s;

      @if $name != "disabled" {
        &:hover {
          background-color: darken($color, 20%);
        }
      }

      @else {
        cursor: default;

        &:hover {
          background-color: $color;
        }
      }
    }
  }

  &-raised:hover {
    background-color: lighten($secondary-color, 5%);
    box-shadow: 0 14px 26px -12px rgba($secondary-color, 0.42), 0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba($secondary-color, 0.2);
  }
}
