.chip {
  display: inline-block;
  height: 32px;
  padding: 0 16px;
  line-height: 32px;
  border-radius: 16px;
  background-color: $secondary-color-light;
  color: $brand-secondary-text-contrast;

  img {
    height: 32px;
    width: 32px;
    margin: 0 8px 0 -18px;
    float: left;
    border-radius: $circle-border-radius;
  }
}
