.i-heart {
  $color: #dc143c;

  height: $icon-size/2;
  margin: $icon-margin;
  width: $icon-size/2;
  background-color: $color;
  transform: rotate(45deg);

  &::before,
  &::after {
    height: $icon-size/2;
    width: $icon-size/2;
    position: absolute;
    background-color: $color;
    border-radius: $round-border-radius;
    content: "";
  }

  &::before {
    top: -$icon-size / 4;
    left: 0;
  }

  &::after {
    top: 0;
    left: -$icon-size/4;
  }
}

.i-tick {
  $color: $brand-success-color;

  margin: $icon-margin;
  height: $icon-size;
  width: $icon-size/2;
  border-bottom: 4px solid $color;
  border-right: 4px solid $color;
  transform: rotate(45deg);
}

.i-done {
  $color: $brand-success-color;

  @extend .i-tick;

  cursor: pointer;

  &:hover {
    border-bottom: 4px solid darken($color, 20%);
    border-right: 4px solid darken($color, 20%);
  }
}

.i-cross {
  $color: $brand-error-color;

  position: relative;
  margin: $icon-margin / 2;
  width: $icon-size;
  height: $icon-size;

  &::before,
  &::after {
    position: absolute;
    height: $icon-size;
    width: 2px;
    left: $icon-size/2;
    background-color: $color;
    content: ' ';
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.i-close {
  $color: $brand-error-color;

  @extend .i-cross;

  cursor: pointer;

  &:hover {
    &::before,
    &::after {
      background-color: darken($color, 20%);
    }
  }
}

/* ==================================
=        Hamburger Menu Icon        =
================================== */

.i-menu {
  display: inline-block;
  vertical-align: middle;
  width: $icon-size;
  margin: $icon-margin / 2;
  cursor: pointer;

  /* The markup to create menu icon's bars */
  &::after, &::before, span {
    display: block;
    height: 3px;
    margin: 5px 0;
    background-color: #fff;
    border-radius: $base-border-radius;
    content: '';
    transition: $default-transition;
  }

  /* :before & :after are rotated to create 'X' or a cross with spin animation with 135 rotation degrees instead of 45 degrees */
  &:hover::before {
    transform: translateY(8px) rotate(135deg);
  }

  /* :before & :after are rotated to create 'X' or a cross with spin animation with 135 rotation degrees instead of 45 degrees */
  &:hover::after {
    transform: translateY(-8px) rotate(-135deg);
  }

  /* The middle bar transform to scale 0 in hover state */
  &:hover span {
    transform: scale(0);
  }
}
