.radio {
  position: absolute;
  opacity: 0;
  z-index: -1;

  + label {
    display: inline-block;
    position: relative;
    padding: 0 0 0 32px;
    cursor: pointer;

    &::before,
    &::after {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      transition: $default-transition;
    }

    &::before {
      content: " ";
      background-color: $border-color;
      border-radius: 50%;
    }

    &::after {
      content: " ";
      top: 7.5px;
      left: 7.5px;
      width: 9px;
      height: 9px;
      background: white;
      border-radius: 50%;
      transform: scale(0);
    }
  }

  &:checked {
    + label::before {
      background: $secondary-color;
    }

    + label::after {
      transform: scale(1);
    }
  }
}
