<section class="col-10-center demo__section container">
  <div class="container demo--padding-v">
    <div class="col-4">
      <button class="btn-sm">Small Button</button>
    </div>
    <div class="col-4">
      <button>Button</button>
    </div>
    <div class="col-4">
      <button class="btn-lg">Large Button</button>
    </div>
  </div>
  <div class="container demo--padding-v">
    <div class="col-12">
      <button class="btn-raised">Raised Button</button>
    </div>
  </div>
  <div class="container demo--padding-v">
    <div class="col-3">
      <button class="btn btn-negative">Negative Button</button>
    </div>
    <div class="col-3">
      <button class="btn btn-neutral">Neutral Button</button>
    </div>
    <div class="col-3">
      <button class="btn btn-positive">Positive Button</button>
    </div>
    <div class="col-3">
      <button class="btn btn-disabled">Disabled Button</button>
    </div>
  </div>
  <h4>Button</h4>
  <pre class="demo__usage">
    <i class="demo__comment">Small button</i>
    &lt;button class=&quot;btn-sm&quot;&gt;Small Button&lt;/button&gt;
    <i class="demo__comment">Default button</i>
    &lt;button&gt;Button&lt;/button&gt;
    <i class="demo__comment">Large button</i>
    &lt;button class=&quot;btn-lg&quot;&gt;Large Button&lt;/button&gt;
    <i class="demo__comment">Button with raised effect</i>
    &lt;button class=&quot;btn-raised&quot;&gt;Raised Button&lt;/button&gt;
    <i class="demo__comment">Dialog/Modal button that hint toward a negative consequence</i>
    &lt;button class=&quot;btn btn-negative&quot;&gt;Negative Button&lt;/button&gt;
    <i class="demo__comment">Base dialog/modal button</i>
    &lt;button class=&quot;btn btn-neutral&quot;&gt;Neutral Button&lt;/button&gt;
    <i class="demo__comment">Dialog/Modal Button that hint toward a positive consequence</i>
    &lt;button class=&quot;btn btn-positive&quot;&gt;Positive Button&lt;/button&gt;
    <i class="demo__comment">Disabled button</i>
    &lt;button class=&quot;btn btn-disabled&quot;&gt;Disabled Button&lt;/button&gt;</pre>
</section>
