<section class="col-10-center demo__section">
  <form action="https://formspree.io/[YOUR_EMAIL_ADDRESS]" method="POST" class="contact">
    <h4>Contact Us</h4>
    <input type="text" name="name" class="filled" placeholder="Your Name">
    <input type="email" name="_replyto" class="filled" placeholder="Your Email">
    <input type="submit" value="Send" class="btn-sm">
  </form>
  <h4>Contact Form</h4>
  <pre class="demo__usage">
    <i class="demo__comment">No PHP, JS required. <strong>You only need to replace [YOUR_EMAIL_ADDRESS] with your email address.</strong> For more details, please checkout <a href="https://formspree.io">FORMSPREE</a>.</i>
    <i class="demo__comment">You can use disposable email provided by <a href="https://www.mailinator.com/">Mailinator</a> for testing the contact form.</i>
    &lt;form action=&quot;https://formspree.io/[YOUR_EMAIL_ADDRESS]&quot; method=&quot;POST&quot; class=&quot;contact&quot;&gt;
      &lt;h4&gt;Contact Us&lt;/h4&gt;
      &lt;input type=&quot;text&quot; name=&quot;name&quot; class=&quot;filled&quot; placeholder=&quot;Your Name&quot;&gt;
      &lt;input type=&quot;email&quot; name=&quot;_replyto&quot; class=&quot;filled&quot; placeholder=&quot;Your Email&quot;&gt;
      &lt;input type=&quot;submit&quot; value=&quot;Send&quot; class=&quot;btn-sm&quot;&gt;
    &lt;/form&gt;</pre>
</section>
