<section class="demo__section col-10-center">
  <div class="col-6">
    <select name="language">
      <option value="css3">CSS3</option>
      <option value="html5">HTML5</option>
      <option value="js">js</option>
    </select>
  </div>

  <div class="col-6">
    <select name="language" disabled="disabled">
      <option value="css3">CSS3</option>
      <option value="html5">HTML5</option>
      <option value="js">js</option>
    </select>
  </div>
  <h4>Select</h4>
  <pre class="demo__usage">
    &lt;select name=&quot;language&quot;&gt;
      &lt;option value=&quot;css3&quot;&gt;CSS3&lt;/option&gt;
      &lt;option value=&quot;html5&quot;&gt;HTML5&lt;/option&gt;
      &lt;option value=&quot;js&quot;&gt;js&lt;/option&gt;
    &lt;/select&gt;</pre>


  <div class="col-3 demo--padding-v">
    <textarea placeholder="textarea"></textarea>
  </div>
  <div class="col-3 demo--padding-v">
    <textarea placeholder="textarea with invalid content" class="error"></textarea>
  </div>
  <div class="col-3 demo--padding-v">
    <textarea placeholder="disabled textarea" disabled="disabled"></textarea>
  </div>
  <div class="col-3 demo--padding-v">
    <textarea placeholder="textarea (only height can be resized)" class="resize-v"></textarea>
  </div>
  <div class="col-3 demo--padding-v">
    <textarea placeholder="textarea (only width can be resized)" class="resize-h"></textarea>
  </div>
  <div class="col-3 demo--padding-v">
    <textarea placeholder="textarea (can't be resized)" class="resize-none"></textarea>
  </div>
  <div class="col-3 demo--padding-v">
    <textarea placeholder="textarea in filled style" class="filled"></textarea>
  </div>
  <div class="col-3 demo--padding-v">
    <textarea placeholder="textarea with invalid content in filled style" class="filled error"></textarea>
  </div>
  <h4>Textarea</h4>
  <pre class="demo__usage">
    &lt;textarea placeholder=&quot;textarea&quot;&gt;&lt;/textarea&gt;
    <i class="demo__comment">You can use the class <strong>error</strong> to indicate the invalid content.</i>
    &lt;textarea placeholder=&quot;textarea with invalid content&quot; class=&quot;error&quot;&gt;&lt;/textarea&gt;
    <i class="demo__comment">Use the class <strong>resize-v</strong> to allow user resizing textarea's height only.</i>
    <i class="demo__comment">Use the class <strong>resize-h</strong> to allow user resizing textarea's width only.</i>
    <i class="demo__comment">Use the class <strong>resize-none</strong> to restrict user to resize textarea.</i>
    &lt;textarea placeholder=&quot;textarea (only height can be resized)&quot; class=&quot;resize-v&quot;&gt;&lt;/textarea&gt;
    <i class="demo__comment">Use the class <string>filled</string> to form a textarea with color filled.</i>
    &lt;textarea placeholder=&quot;textarea in filled style&quot; class=&quot;filled&quot;&gt;&lt;/textarea&gt;</pre>

  <div class="col-3 demo--padding-v">
    <input placeholder="input">
  </div>
  <div class="col-3 demo--padding-v">
    <input placeholder="disabled input" disabled="disabled">
  </div>
  <div class="col-3 demo--padding-v">
    <input placeholder="input (invalid content)" class="error">
  </div>
  <div class="col-3 demo--padding-v">
    <input placeholder="input (filled style)" class="filled">
  </div>
  <h4>Input</h4>
  <pre class="demo__usage">
  &lt;input placeholder=&quot;input&quot;&gt;
  <i class="demo__comment">You can use the class <strong>error</strong> to indicate the invalid content.</i>
  &lt;input placeholder=&quot;input (invalid content)&quot; class=&quot;error&quot;&gt;
  <i class="demo__comment">Use the class <string>filled</string> to form a input element with color filled.</i>
  &lt;input placeholder=&quot;input (filled style)&quot; class=&quot;filled&quot;&gt;</pre>
</section>
