<section class="demo__section col-10-center">
  <div class="container demo__grid">
    <div class="col-12">col-12</div>
  </div>
  <div class="container demo__grid">
    <div class="col-1">col-1</div>
    <div class="col-11">col-11</div>
  </div>
  <div class="container demo__grid">
    <div class="col-2">col-2</div>
    <div class="col-10">col-10</div>
  </div>
  <div class="container demo__grid">
    <div class="col-3">col-3</div>
    <div class="col-9">col-9</div>
  </div>
  <div class="container demo__grid">
    <div class="col-4">col-4</div>
    <div class="col-8">col-8</div>
  </div>
  <div class="container demo__grid">
    <div class="col-5">col-5</div>
    <div class="col-7">col-7</div>
  </div>
  <div class="container demo__grid">
    <div class="col-6">col-6</div>
    <div class="col-6">col-6</div>
  </div>
  <div class="container demo__grid">
    <div class="col-11-center">col-11-center</div>
  </div>
  <div class="container demo__grid">
    <div class="col-10-center">col-10-center</div>
  </div>
  <div class="container demo__grid">
    <div class="col-9-center">col-9-center</div>
  </div>
  <div class="container demo__grid">
    <div class="col-8-center">col-8-center</div>
  </div>
  <div class="container demo__grid">
    <div class="col-7-center">col-7-center</div>
  </div>
  <div class="container demo__grid">
    <div class="col-6-center">col-6-center</div>
  </div>
  <div class="container demo__grid">
    <div class="col-5-center">col-5-center</div>
  </div>
  <div class="container demo__grid">
    <div class="col-4-center">col-4-center</div>
  </div>
  <div class="container demo__grid">
    <div class="col-3-center">col-3-center</div>
  </div>
  <div class="container demo__grid">
    <div class="col-2-center">col-2-center</div>
  </div>
  <div class="container demo__grid">
    <div class="col-1-center">col-1-center</div>
  </div>
  <h4>Grid Layout</h4>
  <pre class="demo__usage">
    &lt;div class=&quot;container&quot;&gt;
      &lt;div class=&quot;col-12&quot;&gt;col-12&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;container&quot;&gt;
      &lt;div class=&quot;col-1&quot;&gt;col-1&lt;/div&gt;
      &lt;div class=&quot;col-11&quot;&gt;col-11&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;container&quot;&gt;
      &lt;div class=&quot;col-2&quot;&gt;col-2&lt;/div&gt;
      &lt;div class=&quot;col-10&quot;&gt;col-10&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;container&quot;&gt;
      &lt;div class=&quot;col-3&quot;&gt;col-3&lt;/div&gt;
      &lt;div class=&quot;col-9&quot;&gt;col-9&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;container&quot;&gt;
      &lt;div class=&quot;col-4&quot;&gt;col-4&lt;/div&gt;
      &lt;div class=&quot;col-8&quot;&gt;col-8&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;container&quot;&gt;
      &lt;div class=&quot;col-5&quot;&gt;col-5&lt;/div&gt;
      &lt;div class=&quot;col-7&quot;&gt;col-7&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;container&quot;&gt;
      &lt;div class=&quot;col-6&quot;&gt;col-6&lt;/div&gt;
      &lt;div class=&quot;col-6&quot;&gt;col-6&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;container&quot;&gt;
      &lt;div class=&quot;col-11-center&quot;&gt;col-11-center&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;container&quot;&gt;
      &lt;div class=&quot;col-10-center&quot;&gt;col-10-center&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;container&quot;&gt;
      &lt;div class=&quot;col-9-center&quot;&gt;col-9-center&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;container&quot;&gt;
      &lt;div class=&quot;col-8-center&quot;&gt;col-8-center&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;container&quot;&gt;
      &lt;div class=&quot;col-7-center&quot;&gt;col-7-center&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;container&quot;&gt;
      &lt;div class=&quot;col-6-center&quot;&gt;col-6-center&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;container&quot;&gt;
      &lt;div class=&quot;col-5-center&quot;&gt;col-5-center&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;container&quot;&gt;
      &lt;div class=&quot;col-4-center&quot;&gt;col-4-center&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;container&quot;&gt;
      &lt;div class=&quot;col-3-center&quot;&gt;col-3-center&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;container&quot;&gt;
      &lt;div class=&quot;col-2-center&quot;&gt;col-2-center&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;container&quot;&gt;
      &lt;div class=&quot;col-1-center&quot;&gt;col-1-center&lt;/div&gt;
    &lt;/div&gt;</pre>
</section>
