<section class="demo__section col-10-center demo__icons">
  <div class="col-12">
    <div class="icon i-menu"><span></span></div>
    <div class="icon i-hamburger"><span></span></div>
  </div>
  <div class="col-12">
    <div class="icon i-arrow"><span></span></div>
    <div class="icon i-arrow-right"><span></span></div>
    <div class="icon i-arrow-downright"><span></span></div>
    <div class="icon i-arrow-down"><span></span></div>
    <div class="icon i-arrow-downleft"><span></span></div>
    <div class="icon i-arrow-left"><span></span></div>
    <div class="icon i-arrow-upleft"><span></span></div>
    <div class="icon i-arrow-up"><span></span></div>
    <div class="icon i-arrow-upright"><span></span></div>
  </div>
  <div class="col-12">
    <div class="icon i-arrows"><span></span></div>
    <div class="icon i-arrows-right"><span></span></div>
    <div class="icon i-arrows-downright"><span></span></div>
    <div class="icon i-arrows-down"><span></span></div>
    <div class="icon i-arrows-downleft"><span></span></div>
    <div class="icon i-arrows-left"><span></span></div>
    <div class="icon i-arrows-upleft"><span></span></div>
    <div class="icon i-arrows-up"><span></span></div>
    <div class="icon i-arrows-upright"><span></span></div>
  </div>
  <div class="col-12">
    <div class="icon i-tick"><span></span></div>
    <div class="icon i-heart"><span></span></div>
    <div class="icon i-cross"><span></span></div>
  </div>
  <h4>Icons</h4>
  <pre class="demo__usage">
    <i class="demo__comment">Menu Icon</i>
    &lt;div class=&quot;icon i-menu&quot;&gt;&lt;span&gt;&lt;/span&gt;&lt;/div&gt;
    <i class="demo__comment">Hamburger Menu Icon</i>
    &lt;div class=&quot;icon i-hamburger&quot;&gt;&lt;span&gt;&lt;/span&gt;&lt;/div&gt;
    <i class="demo__comment">Arrow Icon (default to right)</i>
    &lt;div class=&quot;icon i-arrow&quot;&gt;&lt;span&gt;&lt;/span&gt;&lt;/div&gt;
    <i class="demo__comment">Arrow Icon (right)</i>
    &lt;div class=&quot;icon i-arrow-right&quot;&gt;&lt;span&gt;&lt;/span&gt;&lt;/div&gt;
    <i class="demo__comment">Arrow Icon (down right)</i>
    &lt;div class=&quot;icon i-arrow-downright&quot;&gt;&lt;span&gt;&lt;/span&gt;&lt;/div&gt;
    <i class="demo__comment">Arrow Icon (down)</i>
    &lt;div class=&quot;icon i-arrow-down&quot;&gt;&lt;span&gt;&lt;/span&gt;&lt;/div&gt;
    <i class="demo__comment">Arrow Icon (down left)</i>
    &lt;div class=&quot;icon i-arrow-downleft&quot;&gt;&lt;span&gt;&lt;/span&gt;&lt;/div&gt;
    <i class="demo__comment">Arrow Icon (left)</i>
    &lt;div class=&quot;icon i-arrow-left&quot;&gt;&lt;span&gt;&lt;/span&gt;&lt;/div&gt;
    <i class="demo__comment">Arrow Icon (up left)</i>
    &lt;div class=&quot;icon i-arrow-upleft&quot;&gt;&lt;span&gt;&lt;/span&gt;&lt;/div&gt;
    <i class="demo__comment">Arrow Icon (up)</i>
    &lt;div class=&quot;icon i-arrow-up&quot;&gt;&lt;span&gt;&lt;/span&gt;&lt;/div&gt;
    <i class="demo__comment">Arrow Icon (up right)</i>
    &lt;div class=&quot;icon i-arrow-upright&quot;&gt;&lt;span&gt;&lt;/span&gt;&lt;/div&gt;
    <i class="demo__comment">Double-Arrow Icon (default to right)</i>
    &lt;div class=&quot;icon i-arrows&quot;&gt;&lt;span&gt;&lt;/span&gt;&lt;/div&gt;
    <i class="demo__comment">Double-Arrow Icon (right)</i>
    &lt;div class=&quot;icon i-arrows-right&quot;&gt;&lt;span&gt;&lt;/span&gt;&lt;/div&gt;
    <i class="demo__comment">Double-Arrow Icon (down right)</i>
    &lt;div class=&quot;icon i-arrows-downright&quot;&gt;&lt;span&gt;&lt;/span&gt;&lt;/div&gt;
    <i class="demo__comment">Double-Arrow Icon (down)</i>
    &lt;div class=&quot;icon i-arrows-down&quot;&gt;&lt;span&gt;&lt;/span&gt;&lt;/div&gt;
    <i class="demo__comment">Double-Arrow Icon (down left)</i>
    &lt;div class=&quot;icon i-arrows-downleft&quot;&gt;&lt;span&gt;&lt;/span&gt;&lt;/div&gt;
    <i class="demo__comment">Double-Arrow Icon (left)</i>
    &lt;div class=&quot;icon i-arrows-left&quot;&gt;&lt;span&gt;&lt;/span&gt;&lt;/div&gt;
    <i class="demo__comment">Double-Arrow Icon (up left)</i>
    &lt;div class=&quot;icon i-arrows-upleft&quot;&gt;&lt;span&gt;&lt;/span&gt;&lt;/div&gt;
    <i class="demo__comment">Double-Arrow Icon (up)</i>
    &lt;div class=&quot;icon i-arrows-up&quot;&gt;&lt;span&gt;&lt;/span&gt;&lt;/div&gt;
    <i class="demo__comment">Double-Arrow Icon (up right)</i>
    &lt;div class=&quot;icon i-arrows-upright&quot;&gt;&lt;span&gt;&lt;/span&gt;&lt;/div&gt;
    <i class="demo__comment">Tick Icon</i>
    &lt;div class=&quot;icon i-tick&quot;&gt;&lt;span&gt;&lt;/span&gt;&lt;/div&gt;
    <i class="demo__comment">Heart Icon</i>
    &lt;div class=&quot;icon i-heart&quot;&gt;&lt;span&gt;&lt;/span&gt;&lt;/div&gt;
    <i class="demo__comment">Cross Icon</i>
    &lt;div class=&quot;icon i-cross&quot;&gt;&lt;span&gt;&lt;/span&gt;&lt;/div&gt;</pre>
</section>
