<section class="col-10-center demo__section container">
  <div class="col-3">
    <div class="loader"></div>
  </div>
  <div class="col-3">
    <div class="loader loader-sm"></div>
  </div>
  <div class="col-3">
    <div class="loader loader-lg"></div>
  </div>
  <div class="col-3">
    <div class="loader loader-xl"></div>
  </div>
  <h4>Loader</h4>
  <pre class="demo__usage">
    <i class="demo__comment">Default loader</i>
    &lt;div class=&quot;loader&quot;&gt;&lt;/div&gt;
    <i class="demo__comment">Loader in small size</i>
    &lt;div class=&quot;loader loader-sm&quot;&gt;&lt;/div&gt;
    <i class="demo__comment">Loader in large size</i>
    &lt;div class=&quot;loader loader-lg&quot;&gt;&lt;/div&gt;
    <i class="demo__comment">Loader in extra large size</i>
    &lt;div class=&quot;loader loader-xl&quot;&gt;&lt;/div&gt;</pre>
</section>

<section class="col-10-center demo__section container">
  <div class="col-6">
    <progress value="30" max="100" class="indeterminate"></progress>
  </div>
  <div class="col-6">
    <progress class="indeterminate"></progress>
  </div>
  <div class="col-6">
    <progress value="50" max="100"></progress>
  </div>
  <div class="col-6">
    <progress></progress>
  </div>
  <h4>Progress Bar</h4>
  <pre class="demo__usage">
    <i class="demo__comment">In progress with progress value (indeterminate)</i>
    &lt;progress value=&quot;30&quot; max=&quot;100&quot; class=&quot;indeterminate&quot;&gt;&lt;/progress&gt;
    <i class="demo__comment">In progress (indeterminate)</i>
    &lt;progress class=&quot;indeterminate&quot;&gt;&lt;/progress&gt;
    <i class="demo__comment">In progress with progress value (determinate)</i>
    &lt;progress value=&quot;30&quot; max=&quot;100&quot;&gt;&lt;/progress&gt;
    <i class="demo__comment">In progress (determinate)</i>
    &lt;progress&gt;&lt;/progress&gt;</pre>
</section>
