<div class="navbar navbar-sticky">
  <div class="nav">
    <ul>
      <li><a href="#">Menu</a></li>
      <li class="active"><a href="#">Active Menu</a></li>
    </ul>
  </div>

  <div class="nav nav--responsive">
    <div class="i-menu"><span></span></div>
    <ul>
      <li><a href="#">Responsive Menu</a></li>
      <li class="active"><a href="#">Active Responsive Menu</a></li>
    </ul>
  </div>
</div>

<section class="col-10-center demo__section">
  <h4>Responsive Navbar</h4>
  <pre class="demo__usage">
      <i class="demo__comment">Applying <strong>navbar-sticky</strong> allows the navbar to stick to the top.</i>
      &lt;div class=&quot;navbar navbar-sticky&quot;&gt;
        &lt;div class=&quot;nav&quot;&gt;
          &lt;ul&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Menu&lt;/a&gt;&lt;/li&gt;
            <i class="demo__comment">Adding class <strong>active</strong> to menu item is to highlight the current/active menu item.</i>
            &lt;li class=&quot;active&quot;&gt;&lt;a href=&quot;#&quot;&gt;Active Menu&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/div&gt;

        <i class="demo__comment">The class <strong>nav--responsive</strong> is to convert the menu into a responsive navigation menu.</i>
        <i class="demo__comment">Resize the browser window to see how the responsive navigation menu works.</i>
        <i class="demo__comment">The responsive menu is set to hover menu as default.</i>
        <i class="demo__comment">If you want to keep the menu opened, you can add <strong>nav--responsive-open</strong> as sibling class next to <strong>nav--responsive</strong>.</i>
        &lt;div class=&quot;nav nav--responsive&quot;&gt;
          &lt;div class=&quot;i-menu&quot;&gt;&lt;span&gt;&lt;/span&gt;&lt;/div&gt;
          &lt;ul&gt;
            &lt;li&gt;&lt;a href=&quot;#&quot;&gt;Responsive Menu&lt;/a&gt;&lt;/li&gt;
            &lt;li class=&quot;active&quot;&gt;&lt;a href=&quot;#&quot;&gt;Active Responsive Menu&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/div&gt;
      &lt;/div&gt;</pre>
</section>
