<section class="demo__section col-10-center">
  <input type="radio" name="rate" id="rate1" class="radio"><label for="rate1">Awesome</label>
  <input type="radio" name="rate" id="rate2" class="radio"><label for="rate2">OK</label>
  <h4>Radio Button</h4>
  <pre class="demo__usage">
    &lt;input type=&quot;radio&quot; name=&quot;rate&quot; id=&quot;rate1&quot;&gt;&lt;label for=&quot;rate1&quot;&gt;Awesome&lt;/label&gt;
    &lt;input type=&quot;radio&quot; name=&quot;rate&quot; id=&quot;rate2&quot;&gt;&lt;label for=&quot;rate2&quot;&gt;OK&lt;/label&gt;</pre>
</section>
