<section class="col-10-center demo__section">
  <table>
    <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>1</th>
      <td>Bella</td>
      <td>Nicholson</td>
      <td>@b_icholson</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Angie</td>
      <td>Moses</td>
      <td>@a_moses</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Kate</td>
      <td>Woods</td>
      <td>@k_woods</td>
    </tr>
    </tbody>
  </table>

  <table class="striped">
    <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>1</th>
      <td>Bella</td>
      <td>Nicholson</td>
      <td>@b_icholson</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Angie</td>
      <td>Moses</td>
      <td>@a_moses</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Kate</td>
      <td>Woods</td>
      <td>@k_woods</td>
    </tr>
    </tbody>
  </table>
  <h4>Table</h4>
  <pre class="demo__usage">
    <i class="demo__comment">To create zebra striped table as the second table shown above, simply add the class <strong>striped</strong> in table tag.</i>
    &lt;table&gt;
      &lt;thead&gt;
      &lt;tr&gt;
        &lt;th&gt;#&lt;/th&gt;
        &lt;th&gt;First Name&lt;/th&gt;
        &lt;th&gt;Last Name&lt;/th&gt;
        &lt;th&gt;Username&lt;/th&gt;
      &lt;/tr&gt;
      &lt;/thead&gt;
      &lt;tbody&gt;
      &lt;tr&gt;
        &lt;th&gt;1&lt;/th&gt;
        &lt;td&gt;Bella&lt;/td&gt;
        &lt;td&gt;Nicholson&lt;/td&gt;
        &lt;td&gt;@b_icholson&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;th&gt;2&lt;/th&gt;
        &lt;td&gt;Angie&lt;/td&gt;
        &lt;td&gt;Moses&lt;/td&gt;
        &lt;td&gt;@a_moses&lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;th&gt;3&lt;/th&gt;
        &lt;td&gt;Kate&lt;/td&gt;
        &lt;td&gt;Woods&lt;/td&gt;
        &lt;td&gt;@k_woods&lt;/td&gt;
      &lt;/tr&gt;
      &lt;/tbody&gt;
    &lt;/table&gt;</pre>
</section>
