<section class="demo__section col-10-center">
  <span class="tooltips" data-tips="To change the tips box content, set the value in data-tips">Move the mouse pointer over here</span>
  <h4>Tooltip</h4>
  <pre class="demo__usage">
    <i class="demo__comment">To change the context in the tips box, put your text in <strong>data-tips</strong></i>
    &lt;span class=&quot;tooltips&quot; data-tips=&quot;To change the tips box content, set the value in data-tips&quot;&gt;Move the mouse pointer over here&lt;/span&gt;</pre>
</section>
