<head>
  <!--
  Set the character encoding for this document, so that
  all characters within the UTF-8 space (such as emoji)
  are rendered correctly.
  -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Viewport for responsive web design -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Theme Color for Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#6e828e">

  <!-- Control the behavior of search engine crawling and indexing -->
  <meta name="robots" content="index,follow"><!-- All Search Engines -->
  <meta name="googlebot" content="index,follow"><!-- Google Specific -->

  <!-- Tells Google not to provide a translation for this document -->
  <meta name="google" content="notranslate">

  <!-- Verify website ownership -->
  <meta name="google-site-verification" content="verification_token"><!-- Google Search Console -->
  <meta name="yandex-verification" content="verification_token"><!-- Yandex Webmasters -->
  <meta name="msvalidate.01" content="verification_token"><!-- Bing Webmaster Center -->
  <meta name="alexaVerifyID" content="verification_token"><!-- Alexa Console -->
  <meta name="p:domain_verify" content="code_from_pinterest"><!-- Pinterest Console-->
  <meta name="norton-safeweb-site-verification" content="norton_code"><!-- Norton Safe Web -->

  <!--Set the page's title-->
  <title>Static Website Boilerplate</title>

  <!-- Short description of the document (limit to 150 characters) -->
  <!-- This content *may* be used as a part of search engine results. -->
  <meta name="description" content="Static Website Boilerplate is a front-end template for building static website with webpack.">

  <!--Set the base URL for all relative page URLs-->
  <!--<base href="">-->

  <!--Facebook Open Graph Tags-->
  <meta property="fb:app_id" content="123456789">
  <meta property="og:url" content="https://example.com/page.html">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Content Title">
  <!--Images need to be at least 600 x 315 pixels, although 1200 x 630 pixels is recommended.-->
  <meta property="og:image" content="https://example.com/image.jpg">
  <meta property="og:image:alt" content="A description of what is in the image (not a caption)">
  <meta property="og:description" content="Description Here">
  <meta property="og:site_name" content="Site Name">
  <meta property="og:locale" content="en_AU">
  <meta property="article:author" content="">

  <!--Twitter Card Tags-->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@site_account">
  <meta name="twitter:creator" content="@individual_account">
  <meta name="twitter:url" content="https://example.com/page.html">
  <meta name="twitter:title" content="Content Title">
  <meta name="twitter:description" content="Content description less than 200 characters">
  <meta name="twitter:image" content="https://example.com/image.jpg">
  <meta name="twitter:image:alt"
        content="A text description of the image conveying the essential nature of an image to users who are visually impaired. Maximum 420 characters.">

  <!-- For IE 10 and below -->
  <!-- Place favicon.ico in the root directory - no tag necessary -->
  <!-- Standard favicon -->
  <link rel="icon" type="image/x-icon" href="favicon.ico">

  <!-- Icon in the highest resolution we need it for -->
  <link rel="icon" sizes="192x192" href="/path/to/icon.png">

  <!-- Apple Touch Icon (reuse 192px icon.png) -->
  <link rel="apple-touch-icon" href="/path/to/apple-touch-icon.png">

  <!-- Safari Pinned Tab Icon -->
  <link rel="mask-icon" href="/path/to/icon.svg" color="blue">

  <!--Font Awesome's CDN to get Font Awesome font icons-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <!-- Google Font-->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
