<!DOCTYPE html>
<html lang="en">

<%= require('html-loader!./views/_head.html') %>

<body>
<noscript>
  You need to enable JavaScript to run this app.
</noscript>

<main class="container">

  <!-- You can remove the following demonstration div when you start to building your website -->
  <div class="demo">
    <%= require('html-loader!./views/demo/_navbar.html') %>
    <%= require('html-loader!./views/demo/_tabs.html') %>
    <%= require('html-loader!./views/demo/_accordion.html') %>
    <%= require('html-loader!./views/demo/_table.html') %>
    <%= require('html-loader!./views/demo/_loader.html') %>
    <%= require('html-loader!./views/demo/_button.html') %>
    <%= require('html-loader!./views/demo/_modal.html') %>
    <%= require('html-loader!./views/demo/_tooltip.html') %>
    <%= require('html-loader!./views/demo/_checkbox.html') %>
    <%= require('html-loader!./views/demo/_chip.html') %>
    <%= require('html-loader!./views/demo/_dropdown.html') %>
    <%= require('html-loader!./views/demo/_form.html') %>
    <%= require('html-loader!./views/demo/_icons.html') %>
    <%= require('html-loader!./views/demo/_toast.html') %>
    <%= require('html-loader!./views/demo/_typography.html') %>
    <%= require('html-loader!./views/demo/_palette.html') %>
    <%= require('html-loader!./views/demo/_grid.html') %>
  </div>
  <!-- End of demonstration -->

</main>

</body>

</html>
