@import "../helpers/palette";

/* ==================================
=                 Page              =
================================== */

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: $background-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: $base-font-size;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

main {
  min-height: 100%;
}

input,
textarea,
select {
  outline: none;
  -webkit-appearance: none;
}

/* ==================================
=                 Font              =
================================== */

$fonts: (
  'h1' 4rem $heading-font-weight,
  'h2' 3rem $heading-font-weight,
  'h3' 2.5rem $heading-font-weight,
  'h4' 2rem $heading-font-weight,
  'h5' 1.5rem $heading-font-weight,
  'h6' 1.25rem $heading-font-weight,
  'p' 1rem $base-font-weight,
  'span' 0.875rem $base-font-weight,
  'label' 1rem $base-font-weight,
  'a' 1rem $base-font-weight,
  'input' 1rem $base-font-weight,
  'textarea' 1rem $base-font-weight,
  'blockquote' 1.5rem $base-font-weight,
  'button' 1rem $base-font-weight 'select' 1rem $base-font-weight
);

@each $name, $size, $weight in $fonts {
  #{$name} {
    margin: 0;
    font-family: $base-font-family;
    font-weight: #{$weight};
    font-size: $size;
    color: $text-color;
    line-height: 1.5;
  }
}

input,
textarea {
  @include placeholder {
    color: $placeholder-color;
  }
}

/* ==================================
=                 Link              =
================================== */

a {
  color: $accent-color;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: $secondary-color-dark;
  }

  transition: $default-transition;
}
